<div *ngIf="!loading && !error && pets.length">
  <mat-list>
    <mat-list-item *ngFor="let pet of pets">
      <div class="flex flex-row justify-center items-center">
        <img [src]="getAvatarUrlOrDefault(pet)" class="w-20 h-20">
        <span>{{pet | json}}</span>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<ng-container *ngIf="loading || error" class="flex justify-center items-center w-full h-full">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-container>

<div *ngIf="!loading && !error && !pets.length">
  <p class="text-2xl">No pets to display.</p>
</div>
