<div class="flex justify-center items-center w-full h-full pt-5">
  <div *ngIf="!loading && loaded && !error" class="wrapper">
    <div *ngFor="let pet of pets">
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row justify-between items-center" (click)="onSelectPet(pet.id)">
          <img [src]="getAvatarUrlOrDefault(pet)" class="w-20 h-20">
          <span class="ml-1 text-left">{{pet.name}}</span>
        </div>
        <button
          [matMenuTriggerFor]="petsActions"
          class="flex flex-row m-1 mr-2 justify-between"
        >
          <img src="assets/icons/context-menu.png" class="ml-2 w-9 h-9 m-auto">
        </button>
        <mat-menu #petsActions="matMenu">
          <button mat-menu-item (click)="onEditDetails(pet)">
            <span>Edit details</span>
          </button>
          <button mat-menu-item (click)="onDelete(pet)">
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
      <hr>
    </div>

    <p *ngIf="!pets.length" class="text-2xl mt-10 m-auto">No pets yet.</p>
  </div>

  <mat-progress-spinner *ngIf="loading && !error" mode="indeterminate"
                        class="mt-10 m-auto"></mat-progress-spinner>
  <p *ngIf="!loading && error" class="text-2xl mt-10 m-auto">Error! Try again.</p>
</div>
