<div class="flex flex-col justify-center items-center w-full h-full overflow-auto">
  <button mat-icon-button (click)="onBack()" class="self-end">
    <img src="assets/icons/back.png" class="w-9 h-9">
  </button>

  <div class="buttonContainer">
    <button (click)="onAddReminder()" class="flex flex-row m-1 justify-between">
      <img src="assets/icons/plus.png" class="ml-2 w-9 h-9 m-auto">
      <span class="ml-1 m-auto">Add reminder</span>
    </button>
  </div>
  <button mat-icon-button (click)="onRefreshList()">
    <img width="48" height="48" src="https://img.icons8.com/dusk/64/replay.png" alt="replay"/>
  </button>

  <app-reminders-list
    [reminders]="remindersQuery.entities$ | async"
    [loading]="remindersQuery.loading$ | async"
    [loaded]="remindersQuery.loaded$ | async"
    [error]="remindersQuery.error$ | async"
    (delete)="onDelete($event)"
  ></app-reminders-list>
</div>
