<div class="flex flex-col justify-center items-center w-full h-full">
  <button mat-icon-button (click)="onCancel()" class="self-end">
    <img src="assets/icons/back.png" class="w-9 h-9">
  </button>

  <div *ngIf="!saving && !error" class="w-full max-w-sm px-10">
    <div class="buttonContainer m-2">
      <button (click)="onCreateAvatar()" class="flex flex-row m-1 justify-between">
        <img src="assets/icons/camera.png" class="ml-2 w-9 h-9 m-auto">
        <span class="ml-1 m-auto">Create avatar</span>
      </button>
    </div>

    <div *ngIf="avatarInBase64" class="flex flex-row justify-center">
      <img [src]="avatarInBase64" class="px-5 h-40 w-40">
    </div>

    <form [formGroup]="petForm">
      <div class="flex flex-col items-start h-full w-full">
        <span>Name</span>
        <mat-form-field subscriptSizing="dynamic" class="w-full mb-1">
          <input matInput formControlName="name">
          <mat-error *ngIf="petForm.touched && petForm.controls.name.errors">
            Name is required
          </mat-error>
        </mat-form-field>
        <span>Date of birth (approx.)</span>
        <mat-form-field appearance="fill" subscriptSizing="dynamic" class="w-full mb-1">
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span>Species</span>
        <mat-form-field subscriptSizing="dynamic" appearance="fill" class="w-full mb-1">
          <mat-select formControlName="species">
            <mat-option *ngFor="let option of speciesOptions" [value]="option.value">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span>Size</span>
        <mat-form-field subscriptSizing="dynamic" appearance="fill" class="w-full">
          <mat-select formControlName="size">
            <mat-option *ngFor="let option of sizeOptions" [value]="option.value">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <div class="buttonContainer">
      <button (click)="onSave()" class="flex flex-row m-1 justify-between">
        <img src="assets/icons/save.png" class="ml-2 w-9 h-9 m-auto">
        <span class="ml-1 m-auto">Save details</span>
      </button>
    </div>
  </div>

  <mat-progress-spinner *ngIf="saving || error" mode="indeterminate" class="mt-10 m-auto"></mat-progress-spinner>
</div>
