<div class="flex flex-col justify-center items-center w-full h-full">
  <button mat-icon-button (click)="onBack()" class="self-end">
    <img src="assets/icons/back.png" class="w-9 h-9">
  </button>

  <div *ngIf="!saving && !error" class="buttonContainer">
    <button (click)="onExerciseChanged()" class="flex flex-row m-1 justify-between">
      <ng-container *ngIf="watchId === null else stop">
        <span class="font-mono text-2xl mx-4">Start exercise</span>
      </ng-container>
      <ng-template #stop>
        <span class="font-mono text-2xl mx-4">Stop exercise</span>
      </ng-template>
    </button>
  </div>

  <mat-progress-spinner *ngIf="saving && !error" mode="indeterminate" class="mt-10 m-auto"></mat-progress-spinner>
  <p *ngIf="!saving && error" class="text-2xl mt-10 m-auto">Error! Try again.</p>
</div>
