<div class="flex flex-col justify-center items-center w-full h-full overflow-auto">
  <div class="buttonContainer">
    <button (click)="onAddPet()" class="flex flex-row m-1 justify-between">
      <img src="assets/icons/plus.png" class="ml-2 w-9 h-9 m-auto">
      <span class="mx-1 m-auto">Add furry friend</span>
    </button>
  </div>
  <button mat-icon-button (click)="onRefreshList()">
    <img width="48" height="48" src="https://img.icons8.com/dusk/64/replay.png" alt="replay"/>
  </button>

  <app-pets-list
    [pets]="petsQuery.entities$ | async"
    [loading]="petsQuery.loading$ | async"
    [loaded]="petsQuery.loaded$ | async"
    [error]="petsQuery.error$ | async"
    (editDetails)="onEditDetails($event)"
    (delete)="onDelete($event)"
    (selectPet)="onSelectPet($event)"
  ></app-pets-list>
</div>
