<div class="flex flex-col w-full h-full overflow-auto">
  <div *ngIf="!userLoading && !userError">
    <img src="/assets/images/logo-raisin-purple.png" class="w-20 h-20 mt-5 mb-10 m-auto">
    <div class="m-auto text-center">
      <span class="text-2xl">show your pets that you care</span>
      <br>
      <span class="text-xl">to get started,</span>
      <div class="buttonContainer">
        <button (click)="onSignInWithGoogle()" class="flex flex-row m-2 justify-between">
          <span class="mr-2 m-auto">Sign in with</span>
          <mat-icon svgIcon="google-logo" class="m-auto"></mat-icon>
        </button>
      </div>

      <img src="/assets/images/landing-page.gif" class="m-auto">
    </div>
  </div>

  <div *ngIf="userLoading || userError" class="m-auto">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
