<div class="flex flex-col justify-center items-center w-full h-full pt-2.5">
  <button mat-icon-button (click)="onBack()" class="self-end">
    <img src="assets/icons/back.png" class="w-9 h-9">
  </button>

  <ng-container *ngIf="exercise && !loading && !error">
    <span class="text-2xl">#{{exercise.id}} {{exercise.name}}</span>
    <span class="text-xl">Total distance: {{exercise.totalDistance | number}} km</span>
    <span class="text-xl">Average speed: {{exercise.averageSpeed | number}} km/h</span>

    <ng-container *ngIf="isGoogleMapsApiLoaded">
      <google-map #googleMap [options]="mapOptions" [width]="mapDimensions.width" [height]="mapDimensions.height">
        <map-polyline [path]="vertices" [options]="polylineOptions"></map-polyline>
      </google-map>
    </ng-container>
  </ng-container>

  <mat-progress-spinner *ngIf="loading && !error" mode="indeterminate" class="mt-10 m-auto"></mat-progress-spinner>
  <p *ngIf="!loading && error" class="text-2xl mt-10 m-auto">Error! Try again.</p>
</div>
