<div class="flex flex-col bg-landing-page-yellow w-screen h-screen">
  <div class="flex justify-center">
    <img src="/assets/images/logo-raisin-purple.png" class="w-20 h-20 mt-5 mb-10">
  </div>
  <div class="flex flex-col justify-items-start items-center">
    <span class="text-2xl">show your pets that you care</span>
    <br>
    <span class="text-xl">To get started,</span>
    <div class="rounded-full border-solid border-2 border-black mt-2">
      <button (click)="signInWithGoogle()" class="flex mx-2 my-2 items-center justify-between">
        <span class="mr-2">Sign in with</span>
        <mat-icon svgIcon="google-logo"></mat-icon>
      </button>
    </div>

    <img src="/assets/images/landing-page.gif" class="w-auto h-auto landingPageGif">
  </div>
</div>
